<h3>Welcome! Here are all my books.</h3>
<br>
<% @output.each do |book| %>
    <h4>
        <%= book["title"] %> </h4>
    <p>Author: <%= book["author"] %> </p>
    <p>Description/Review: <%= book["description"] %> </p>
    <br>
<% end %>


<br>
<p>Add a new Book?</p>
<a href="/add_book"><button type="submit"class="btn btn-primary">Click Here</button></a>
