body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: #5b5970;
    background: url('/bookshelf.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.main {
    background-color: #393e44;
    opacity: 0.95;
    width: 90%;
    max-width: 700px;
    margin: 80px auto;
    padding: 30px 50px;
}
.book_icon {
    width: 80px;
    display: block;
    margin: 0 auto;
}
.header {
    margin-top: 0;
    text-align: center;
}
.buttons {
    display: inline-block;
}
.search_results {
    text-align: center;
}
.all_books {
    text-align: center;
}
.each_book {
    display: inline-block;
    width: 20%;
    margin-top: 20px;
}
.cover:hover {
    cursor: pointer;
}
.info {
    display: none;
}

.show_info {
    display: block;
}
.center {
    width: 100%;
    text-align: center;
}

@media (max-width: 700px) {
    .each_book {
        width: 30%;
    }
}
@media (max-width: 500px) {
    .each_book {
        width: 49%;
    }
}
